<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>prefs</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>334ec5e6a62f96b5b384c3c7de650c03e34db771</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>comgooglemaps</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
	</dict>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Allow this app to access your location</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Allow this app to access your location</string>
	<key>UIAppFonts</key>
	<array>
		<string>AktivGrotesk-Bd.ttf</string>
		<string>AktivGrotesk-Bd.ttf</string>
		<string>AktivGrotesk-BdIt.ttf</string>
		<string>AktivGrotesk-Blk.ttf</string>
		<string>AktivGrotesk-BlkIt.ttf</string>
		<string>AktivGrotesk-Hair.ttf</string>
		<string>AktivGrotesk-HairIt.ttf</string>
		<string>AktivGrotesk-It.ttf</string>
		<string>AktivGrotesk-Lt.ttf</string>
		<string>AktivGrotesk-LtIt.ttf</string>
		<string>AktivGrotesk-Md.ttf</string>
		<string>AktivGrotesk-MdIt.ttf</string>
		<string>AktivGrotesk-Rg.ttf</string>
		<string>AktivGrotesk-Th.ttf</string>
		<string>AktivGrotesk-ThIt.ttf</string>
		<string>AktivGrotesk-XBd.ttf</string>
		<string>AktivGrotesk-XBdIt.ttf</string>
		<string>AktivGroteskCd-Bd.ttf</string>
		<string>AktivGroteskCd-BdIt.ttf</string>
		<string>AktivGroteskCd-Blk.ttf</string>
		<string>AktivGroteskCd-BlkIt.ttf</string>
		<string>AktivGroteskCd-Hair.ttf</string>
		<string>AktivGroteskCd-HairIt.ttf</string>
		<string>AktivGroteskCd-It.ttf</string>
		<string>AktivGroteskCd-Lt.ttf</string>
		<string>AktivGroteskCd-LtIt.ttf</string>
		<string>AktivGroteskCd-Md.ttf</string>
		<string>AktivGroteskCd-MdIt.ttf</string>
		<string>AktivGroteskCd-Rg.ttf</string>
		<string>AktivGroteskCd-Th.ttf</string>
		<string>AktivGroteskCd-ThIt.ttf</string>
		<string>AktivGroteskCd-XBd.ttf</string>
		<string>AktivGroteskCd-XBdIt.ttf</string>
		<string>AktivGroteskEx-Bd.ttf</string>
		<string>AktivGroteskEx-BdIt.ttf</string>
		<string>AktivGroteskEx-Blk.ttf</string>
		<string>AktivGroteskEx-BlkIt.ttf</string>
		<string>AktivGroteskEx-Hair.ttf</string>
		<string>AktivGroteskEx-HairIt.ttf</string>
		<string>AktivGroteskEx-It.ttf</string>
		<string>AktivGroteskEx-Lt.ttf</string>
		<string>AktivGroteskEx-LtIt.ttf</string>
		<string>AktivGroteskEx-Md.ttf</string>
		<string>AktivGroteskEx-MdIt.ttf</string>
		<string>AktivGroteskEx-Rg.ttf</string>
		<string>AktivGroteskEx-Th.ttf</string>
		<string>AktivGroteskEx-ThIt.ttf</string>
		<string>AktivGroteskEx-XBd.ttf</string>
		<string>AktivGroteskEx-XBdIt.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
