<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>prefs</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>4</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>334ec5e6a62f96b5b384c3c7de650c03e34db771</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>comgooglemaps</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
	</dict>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Allow this app to access your location</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Allow this app to access your location</string>
	<key>UIAppFonts</key>
	<array>
		<string>AktivGrotesk_Trial_Bd.ttf</string>
		<string>AktivGrotesk_Trial_Bd.ttf</string>
		<string>AktivGrotesk_Trial_BdIt.ttf</string>
		<string>AktivGrotesk_Trial_Blk.ttf</string>
		<string>AktivGrotesk_Trial_BlkIt.ttf</string>
		<string>AktivGrotesk_Trial_Hair.ttf</string>
		<string>AktivGrotesk_Trial_HairIt.ttf</string>
		<string>AktivGrotesk_Trial_It.ttf</string>
		<string>AktivGrotesk_Trial_Lt.ttf</string>
		<string>AktivGrotesk_Trial_LtIt.ttf</string>
		<string>AktivGrotesk_Trial_Md.ttf</string>
		<string>AktivGrotesk_Trial_MdIt.ttf</string>
		<string>AktivGrotesk_Trial_Rg.ttf</string>
		<string>AktivGrotesk_Trial_Th.ttf</string>
		<string>AktivGrotesk_Trial_ThIt.ttf</string>
		<string>AktivGrotesk_Trial_XBd.ttf</string>
		<string>AktivGrotesk_Trial_XBdIt.ttf</string>
		<string>AktivGroteskCd_Trial_Bd.ttf</string>
		<string>AktivGroteskCd_Trial_BdIt.ttf</string>
		<string>AktivGroteskCd_Trial_Blk.ttf</string>
		<string>AktivGroteskCd_Trial_BlkIt.ttf</string>
		<string>AktivGroteskCd_Trial_Hair.ttf</string>
		<string>AktivGroteskCd_Trial_HairIt.ttf</string>
		<string>AktivGroteskCd_Trial_It.ttf</string>
		<string>AktivGroteskCd_Trial_Lt.ttf</string>
		<string>AktivGroteskCd_Trial_LtIt.ttf</string>
		<string>AktivGroteskCd_Trial_Md.ttf</string>
		<string>AktivGroteskCd_Trial_MdIt.ttf</string>
		<string>AktivGroteskCd_Trial_Rg.ttf</string>
		<string>AktivGroteskCd_Trial_Th.ttf</string>
		<string>AktivGroteskCd_Trial_ThIt.ttf</string>
		<string>AktivGroteskCd_Trial_XBd.ttf</string>
		<string>AktivGroteskCd_Trial_XBdIt.ttf</string>
		<string>AktivGroteskEx_Trial_Bd.ttf</string>
		<string>AktivGroteskEx_Trial_BdIt.ttf</string>
		<string>AktivGroteskEx_Trial_Blk.ttf</string>
		<string>AktivGroteskEx_Trial_BlkIt.ttf</string>
		<string>AktivGroteskEx_Trial_Hair.ttf</string>
		<string>AktivGroteskEx_Trial_HairIt.ttf</string>
		<string>AktivGroteskEx_Trial_It.ttf</string>
		<string>AktivGroteskEx_Trial_Lt.ttf</string>
		<string>AktivGroteskEx_Trial_LtIt.ttf</string>
		<string>AktivGroteskEx_Trial_Md.ttf</string>
		<string>AktivGroteskEx_Trial_MdIt.ttf</string>
		<string>AktivGroteskEx_Trial_Rg.ttf</string>
		<string>AktivGroteskEx_Trial_Th.ttf</string>
		<string>AktivGroteskEx_Trial_ThIt.ttf</string>
		<string>AktivGroteskEx_Trial_XBd.ttf</string>
		<string>AktivGroteskEx_Trial_XBdIt.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
